RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*) /php/php-mvc/index.php?pag=$1

ErrorDocument 403 https://github.com/aronisouza

<Files .env>
    Order allow,deny
    Deny from all
</Files>